#macro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
  }
  
  #disclaimer {
    color: beige;
    max-width: 500px;
    padding: 1.5rem;
    background-color: grey;
    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    border-color: beige;
    margin: 10px;
  }
  
  #disclaimer p {
    line-height: 1.4;
    font-size: 15px;
  }
  
  #formContainer {
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
    background-color: rgb(155, 90, 102);
    border-color: beige;
    margin: 10px;
  }
  
  #calorieGoal, #weight, #button, #result {
    padding: .5rem;
    display: flex;
    flex-direction: column;
  }
  
  #calorieGoal, #weight, #button, #goalDiv {
    max-width: 10rem;
  }
  
  #weight input, #calorieGoal input {
    max-width: 5rem;
  }
  
  #weight input, #calorieGoal input, #button input, #goalDiv select {
    background-color: rgb(27, 27, 27);
    color: beige;
    border-color: beige;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
  }

  #goalWeightDiv {
    display: flex;
    flex-direction: row;
  }

  #goalDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: .5rem;
  }

  #results {
    display: flex;
    flex-direction: row;
  }
  
  #results p {
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 15px;
    padding: 12px;
    flex: 1;
  }
  
  /*for medium sized devices(like tablets)*/
  @media screen and (max-width: 865px) {
    #macro {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  /*for small sized devices(like mobile phone)*/
  @media screen and (max-width: 550px) {
    #formContainer {
      max-width: fit-content;
      max-height: fit-content;
    }
  }