.app {
  text-align: center;
  justify-content: center;
  align-items: center;
}

html {
  background: hsla(0, 0%, 5%, 1);

  background: radial-gradient(circle, hsla(0, 0%, 5%, 1) 50%, hsla(349, 27%, 48%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(0, 0%, 5%, 1) 50%, hsla(349, 27%, 48%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(0, 0%, 5%, 1) 50%, hsla(349, 27%, 48%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0C0C0C", endColorstr="#9B5A66", GradientType=1 );
}